# Ignore PyCharm project settings
.idea/

# Ignore model weights
best_model.h5

# Ignore generated images
confusion_matrix.png
training_history.png

# Ignore output directory
record_results/


__pycache__/
*.pyc
record_results/

models/CNN/*.keras
models/CNN/*.h5
models/CNN/tokenizer.pickle
models/CNN/threshold.json
models/CNN/saved_models/

models/HYBRID/*.keras
models/HYBRID/*.h5
models/HYBRID/tokenizer.pickle
models/HYBRID/threshold.json